<!DOCTYPE html>
<html >
<!--From https://codepen.io/frytyler/pen/EGdtg-->
<head>
  <meta charset="UTF-8">
  <title>ML API</title>

  <link rel="stylesheet" href="{{ url_for('static', filename='house.css') }}">
</head>

<body>
 <div class="login">
	<h1>House Price Predictor in Melbourne</h1>

     <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('predict')}}"method="post">
    	<input type="text" name="Rooms" placeholder="Rooms" required="required" />
        <input type="text" name="Bathroom" placeholder="Bathroom" required="required" />
              <input type="text" name="Car" placeholder="Car" required="required" />
              <input type="text" name="BuildingArea" placeholder="BuildingArea" required="required" />


        <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
    </form>

   <br>
   <br>
   {{ prediction_text }}

 </div>


</body>
</html>
